.ahmed{
    margin-top: auto;
    background-color: black;
}  
.kemo{
    width: 100%;
    background-color: rgba(255, 255, 255 , .5);
    padding: 20px;
    color: black;
}


i{
    margin-right: 5px;
    color: white;
}