
<hr class="bg-secondary ahmed">
<div class="copyright text-secondary pb-2 kemo container">
<div class="container">
<div class="row">
   <div class="col-sm-8 text-sm-left text-center">
       <p>
         Copyright © 2017 All Rights Reserved by 
         <a href="#" class="link-copyright"> ELzor Group.</a>
       </p>
   </div>
   <div class="col-sm-4 text-sm-right text-center social-icon">
       <a href="#" class="rounded-circle mr-3"> </a>
       <i class="fab fa-facebook-square"></i>
       <a href="#" class="rounded-circle"></a>
       <i class="fab fa-instagram"></i>
       <a href="#" class="rounded-circle"></a>
       <i class="fab fa-whatsapp"></i>
       <a href="#" class="rounded-circle"></a>
       <i class="fab fa-twitter"></i>
   </div>
</div>
</div>