
<h1 class="text-center text-info container" style="margin-top: 100px;background-color: rgba(238, 222, 222 , 0.5);">Add Collaction Sign In</h1>

<div class="container col-md-6 mb-5">
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label>User Name : {{invaildmasseg}}  </label>
                <input  pattern="ahmed elzor" #name='ngModel' required [(ngModel)]="objcet.user" type="text" placeholder="Please write the User name (ahmed elzor)" class="form-control">
            </div>
            <div class="form-group">
                <label> Password  : {{invaildmasseg}} </label>
                <input pattern="0000"  #password='ngModel' required [(ngModel)]="objcet.password"  type="password" placeholder="Please type this password(0000) " class="form-control">
            </div>
            <div  *ngIf= "password.touched && password.invalid || name.touched && name.invalid " class="alert alert-danger">
                There is an error typing the password or User name
            </div>
            
            <div *ngIf="name.valid && password.valid">
            <button (click)="save(name,password)" class="btn btn-info w-50 my-3 mx-auto btn-block"> Sign In</button></div>
         
            <div *ngIf="name.invalid && password.invalid  ">
                <button disabled class="btn btn-info w-50 my-3 mx-auto btn-block"> Sign In</button>
            </div>               

        </div>
       
    </div>
</div>



