<nav class="navbar fixed-top navbar-expand-lg navbar-dark ">
    <a class="navbar-brand" href="#"><img src="../../../assets/image/logo 1.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/Home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/signin">Sign In</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Collaction 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: brown;">
            <a class="dropdown-item" routerLink="/MANP"> MAN  </a>
            <a class="dropdown-item" routerLink="/WOMANP"> WOMAN</a>
            <a class="dropdown-item" routerLink="/KIDSP"> KIDS  </a>
            <a class="dropdown-item" routerLink="/FURNITUREP"> FURNITURE</a>
          </div>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add Collaction 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: brown;">
            <a class="dropdown-item" routerLink="/ADDM"> ADD C MAN  </a>
            <a class="dropdown-item" routerLink="/ADDW"> ADD C WOMAN</a>
            <a class="dropdown-item" routerLink="/ADDK"> ADD C KIDS  </a>
            <a class="dropdown-item" routerLink="/ADDF"> ADD C FURNITURE</a>
          </div>
        </li> -->
      </ul>
      <span class="navbar-text">
        MACCA CENTER
      </span>
    </div>
    
  </nav>