
<h1 class="text-center text-info container "style="margin-top: 100px;background-color: rgba(238, 222, 222 , 0.5);">(ADD & UPDATA & REMOVE) DATA</h1>
<div class="container col-lg-6 my-5">
    <div class="card">
        <div class="card-body">
            <table class="table table-dark text-left ">
                <tr>
                   
                    <th>COLLACTION</th>
                    <th>EDIT & DEL.</th>
                    <th>ADD NEW</th>
  
                </tr>
                <tr>
                    
                    <th>Furniture </th>
                    <th> <a class="btn btn-info" routerLink="/FURNITURE">Edit & Del.</a></th>
                    <th><a class="btn btn-info" routerLink="/ADDF"> Add New</a></th>
                </tr>
                <tr>
                   
                    <th>Kids </th>
                    <th><a class="btn btn-info" routerLink="/KIDS">Edit & Del.</a></th>
                    <th><a class="btn btn-info" routerLink="/ADDK">Add New</a></th>
                </tr>
                <tr>
                    
                    <th>Man </th>
                    <th><a class="btn btn-info" routerLink="/MAN">Edit & Del.</a></th>
                    <th><a class="btn btn-info" routerLink="/ADDM">Add New</a></th>
                </tr>
                <tr>
                    
                    <th>Woman </th>
                    <th><a class="btn btn-info" routerLink="/WOMAN">Edit & Del.</a></th>
                    <th><a class="btn btn-info" routerLink="/ADDW">Add New</a></th>
                </tr>
            </table> 
        </div>
    </div>
</div>