<div class="container">
    <div class="row mr-2">
        <div class="col-xl-3 text-center" >
            <img class="img-fluid" style="width: 400px; height: 400px;margin-bottom: 20px;" src="../../../assets/image/رجالى 1.jpg" alt="" >
            <a routerLink="/MANP" class="btn btn-info text-center mb-5 "> MAN COLLACTION</a>
        </div>
        <div class="col-xl-3 text-center" >
            <img  class="img-fluid" style="width: 400px; height: 400px;margin-bottom: 20px;" src="../../../assets/image/بجامة منقوش.jpg" alt="" >
            <a routerLink="/WOMANP" class="btn btn-info text-center mb-5 "> WOMAN COLLACTION</a>
        </div>
        <div class="col-xl-3 text-center" >
            <img  class="img-fluid"  style="width: 400px; height: 400px;margin-bottom: 20px;" src="../../../assets/image/اطفال 5.jpg" alt="" >
            <a routerLink="/KIDSP" class="btn btn-info text-center mb-5 "> KIDS COLLACTION</a>
        </div>
        <div class="col-xl-3 text-center" >
            <img  class="img-fluid"  style="width: 400px; height: 400px;margin-bottom: 20px;" src="../../../assets/image/م 3.jpg" alt="" >
            <a routerLink="/FURNITUREP" class="btn btn-info text-center mb-5 "> FURNITURE COLLACTION</a>
        </div>
    </div>
</div>